body{
    font-family: "FontAwesome";
}

.top-bar{
    background-color: #d04c45;
    width: 100% !important;
    height: 44px;
    overflow: unset;
    margin: 0px;
}

.content{
    margin-top: 15px;
    padding-right: 30px;
    padding-left: 30px;
}

.text-style{
    color:#ffffff;
    font-weight:bold;
    margin:auto;
    text-align:center;

}

.input_wrong_notice {
    padding: 15px 10px 0 10px;
    color: red;
}


#register_form_wrapper {
    margin: 0 auto;
    overflow: hidden;
    box-shadow: 0px 4px 20px 0px rgba(172, 172, 193, 0.2);
    border: none;
    background-color: white;
    height: auto;
    border-radius: 5px;
}

.input-wrapper {
    position: relative;
    border-bottom: 1px solid gainsboro;
}
.auth-code {
    position: absolute;
    width: 70px;
    height: 35px;
    top: 0.7rem;
    left: 178px;
    top: 4px;
}

#agent {
    background-image: url('/img/register/agent.png');
    background-size: 18px;
    line-height: 40px;
    width: 100%;
    background-repeat: no-repeat ;
    background-position: 0% 50%;
    padding-left: 45px;
    box-shadow: 3px 3px 5px #dcdcdc;
    border: 0;
    background-position-x: 15px;
    background-color: #bcbcbc;

}

#account {
    background-image: url('/img/register/account.png');
    background-size: 16px;
    line-height: 40px;
    width: 100%;
    background-repeat: no-repeat ;
    background-position: 0% 50%;
    padding-left: 45px;
    box-shadow: 3px 3px 5px #dcdcdc;
    border: 0;
    background-position-x: 15px;
}

#password {
    background-image: url('/img/register/password.png');
    background-size: 15px;
    line-height: 40px;
    width: 100%;
    background-repeat: no-repeat ;
    background-position: 0% 50%;
    padding-left: 45px;
    box-shadow: 3px 3px 5px #dcdcdc;
    border: 0;
    background-position-x: 15px;
}

#password_confirm {
    background-image: url('/img/register/password.png');
    background-size: 15px;
    line-height: 40px;
    width: 100%;
    background-repeat: no-repeat ;
    background-position: 0% 50%;
    padding-left: 45px;
    box-shadow: 3px 3px 5px #dcdcdc;
    border: 0;
    background-position-x: 15px;
}

#auth {
    background-image: url('/img/register/auth_code.png');
    background-size: 17px;
    line-height: 40px;
    width: 100%;
    background-repeat: no-repeat ;
    background-position: 0% 50%;
    padding-left: 45px;
    box-shadow: 3px 3px 5px #dcdcdc;
    border: 0;
    background-position-x: 15px;
}

#register_submit_row {
    margin-top: 20px;
}

#register_submit {
    width: 100%;
    line-height: 35px;
    background: #de9000;
    box-shadow: 0px 4px 5px #dea676;
    border: 0;
    color:#ffffff;
}
.gray-text {
    padding: 15px 0px;
    text-align: center;

    color: gray;
    margin:auto;
}

.login-right-away {
    color: red;
    cursor: pointer;
}

.div-text-center {
    font-size: 13px;
    top:20px;
    margin:auto;
    text-align:center;
}

.veriimg.registration_auth {
    bottom: 2px;
}

#auth_code {
    left: 12rem;
    position: absolute;
    width: 70px;
    height: 35px;
    top: 12px;
}